.section {
	background-color: white;

	&.spread-the-word {
		background-color: transparent;
		color: white;

		.container {
			.content {
				h1 {
					color: white;
					margin-bottom: 41px;

					strong {
						color: white;
					}
				}

				.social-share {
					margin-bottom: 30px;

					div {
						.clearfix();
						color: @text-color;
						background-color: white;
						padding: 30px;
						font-size: 20px;

						h2 {
							.clearfix();
							position: relative;
							margin: 0 0 30px;
							color: @brand-secondary;
							font-weight:100;
							font-size: 37px;

							.icon {
								float: left;
								margin-right: 10px;

								&.video {
									.sprite-2x(@play-large-2x, @play-large);
								}

								&.twitter {
									.sprite-2x(@twitter-large-2x, @twitter-large);
								}

								&.facebook {
									.sprite-2x(@facebook-large-2x, @facebook-large);
								}

								&.user {
									.sprite-2x(@user-large-2x, @user-large);
								}
							}
						}

						p {
							clear: both;
							margin-bottom: 80px;
						}
					}
				}
			}
		}
	}

	&#supporters {
		h1 {
			margin-bottom: 50px;

			strong {
				font-size: 50px;
			}
		}
	}

	.thing {
		border-bottom: 1px solid #ccc;

		&.odd {
			background-color: #f5f5f5;
		}

		.container {
			.content {
				padding-top: 0;
				padding-bottom: 0;

				p {
					font-size: 21px;
				}

				.factoid {
					margin: 55px 0;
				}

				.icon {
					display: block;
					margin: 38px auto;

					&.circle {
						.sprite-2x(@circle-2x, @circle);
					}

					&.eighty-percent {
						.sprite-2x(@80-percent-2x, @80-percent);
					}

					&.diagram {
						margin-top: 0px;
						margin-bottom: 0px;
						.sprite-2x(@diagram-2x, @diagram);
					}

					&.ten-x {
						.sprite-2x(@10x-2x, @10x);
					}

					&.text {
						width: 290px;
						font-weight: 700;
						font-size: 183px;
						letter-spacing: -6px;
						color: @brand-primary;

						small {
							font-size: 90px;
							margin-left: 7px;
						}
					}

					&.arrows {
						.sprite-2x(@arrows-2x, @arrows);
					}
				}
			}
		}
	}

	.container {
		.content {
			.clearfix();
			padding: 40px 15px;

			h1 {
				color: @brand-primary;
				text-transform: uppercase;
				font-weight: 100;
				letter-spacing: 1px;

				strong {
					font-weight: 700;
					color: @brand-secondary;
				}
			}

			.symptoms-col {
				margin-right: 105px;

				h2 {
					color: @brand-secondary;
				}

				h3 {
					font-size: 26px;
					line-height: 1.3;
					margin-bottom: 60px;
				}

				p {
					margin-bottom: 30px;
					font-size: 20px;
					font-weight: 300;
				}
			}

			.share-this {
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					line-height: 41px;
					margin-right: 10px;

					.share {
						color: @brand-secondary;
						font-size: 22px;
						font-weight: 700;
						text-transform: uppercase;
						letter-spacing: 1px;
					}

					a {
						display: block;
						text-indent: -10000px;
					}

					.facebook {
						.sprite-2x(@facebook-small-2x, @facebook-small);
					}

					.twitter {
						.sprite-2x(@twitter-small-2x, @twitter-small);
					}

					.instagram {
						.sprite-2x(@instagram-small-2x, @instagram-small);
					}

				}
			}

			.partners-list {
				ul {
					margin: 0;
					padding: 0;
					list-style-type: none;

					li {
						display: block;
						padding-right: 65px;
						margin-bottom: 35px;

						h3 {
							color: @brand-secondary;
							font-size: 26px;
							margin: 0;
						}

						p {
							font-size: 22px;
							margin-left: 40px;
						}

						.icon-map {
							display: block;
							float: left;
							.sprite-2x(@map-icon-2x, @map-icon);
							text-indent: -10000px;
							margin-right: 10px;
						}
					}
				}
			}

			.supporters-list {
				padding: 0;
				margin: 0;
				list-style-type: none;

				&#supporters-col1 {
					border-top: 1px solid #ccc;
				}

				li {
					display: block;
					border-bottom: 1px solid #ccc;
					padding: 9px 0 7px;

					a {
						display: block;
						position: relative;
						.clearfix();
						font-size: 20px;
						font-weight: 700;
						text-transform: uppercase;
						color: @brand-secondary;
						text-decoration: none;
						cursor: pointer;

						.icon {
							display: block;
							float: left;
							margin-right: 5px;

							&.arrow-right {
								margin-top: 5px;
								margin-right: 10px;
								.sprite-2x(@arrow-right-brand-color-2x, @arrow-right-brand-color);
							}

							&.arrow-down {
								margin-top: 9px;
								.sprite-2x(@arrow-down-brand-color-2x, @arrow-down-brand-color);
							}
						}
					}

					ul {
						list-style-type: none;
						font-size: 16px;
						font-weight: 400;
						padding-left: 20px;

						li {
							border-bottom: none;
							padding: 7px 0;
							line-height: 1.2;

							a {
								font-size: 16px;
								font-weight: 400;
								color: @text-color;
								text-transform: none;
								text-decoration: underline;
								line-height: 1.2;
							}
						}
					}
				}
			}

			.pill-button {
				display: block;
				float: left;
				font-size: 26px;
				text-transform: uppercase;
				color: white;
				#gradient > .vertical(#683090; #939);
				font-weight: 700;
				letter-spacing: 3px;
				padding: 6px 22px 4px;
				.border-radius(50px);
				text-decoration: none;

				.icon.arrow-right {
					display: block;
					float: right;
					margin: 7px 0 0 10px;
					.sprite-2x(@arrow-right-2x, @arrow-right);
				}
			}
		}
	}
}

#map_canvas {
	width: 100%;
	height: 415px;
}


@media (min-width: @screen-sm-min) {
	.section {
		&#supporters {
			h1 {
				strong {
					font-size: @font-size-h1;
				}
			}
		}

		.thing {
			.container {
				.content {
					p {
						font-size: 26px;
					}
				}
			}
		}

		.container {
			.content {
				.clearfix();
				padding: 40px 30px;
			}
		}
	}

	#map_canvas {
		height: 515px;
	}
}

@media (min-width: @screen-md-min) {
	.section {
		&.spread-the-word {
			.container {
				.content {
					.social-share {
						div {
							h2 {
								width: 310px;
							}
						}
					}
				}
			}
		}

		.container {
			.content {
				.supporters-list {
					&#supporters-col2 {
						border-top: 1px solid #ccc;
					}
				}

				.partners-list {
					ul {
						li {
							padding-right: 105px;
						}
					}
				}
			}
		}
	}

	.csstransforms {
		.section {
			.thing {
				height: 315px;
				.container {
					height: 100%;
					.content {
						height: 100%;
						.col-md-12 {
							height: 100%;
							.row {
								height: 100%;
								div {
									margin: 0;
									position: relative;
									top: 50%;
									-webkit-transform: translateY(-50%);
									-ms-transform: translateY(-50%);
									transform: translateY(-50%);
								}
							}
						}
					}
				}
			}
		}
	}



}

@media (min-width: @screen-lg-min) {

}

.lt-ie9 {
	.section {
		&.spread-the-word {
			.container {
				.content {
					.social-share {
						div {
							h2 {
								width: 310px;
							}
						}
					}
				}
			}
		}
	}
}
