header {
	background-color: white;
	#gradient > .horizontal(#939; #683090);
	margin: -1px 0 0 0;
	padding: 10px 0 0;
	width: 100%;
	z-index: 100;

	.inset {
		background-color: white;
	}

	.container {
		position: relative;
		padding:  20px 30px;

		.icon-logo {
			display: block;
			.sprite-2x(@mobile-logo-2x, @mobile-logo);
		}

		.primary-nav {
			position: absolute;
			right: 15px;
			top: 60px;
			margin: 0;

			a {
				color: @brand-secondary;
				font-size: @font-size-h3;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 1px;
				text-decoration: none;

				&:focus,
				&:hover,
				&:active {
					color: @brand-primary;
				}
			}

			ul {
				padding: 0;
				margin: 0;

				li {
					margin: 0;
					padding: 0;
					list-style-type: none;

					&:hover  ul {
						display: block;
					}
				}

				.menu {
					display: block;
					line-height: 1;
					cursor: pointer;
					padding-bottom: 8px;
				}

				ul {
					display: none;
					position: absolute;
					right: 0px;

					margin: 0;

					background-color: white;
					border-top: 1px solid #ccc;

					li {
						padding: 8px;
						margin: 0;
						display: block;
						float: none;
						border-bottom: 1px solid #ccc;
						text-align: right;

						a {
							line-height: 1.2;
						}
					}
				}
			}
		}

		.social-nav {
			position: absolute;
			top: 20px;
			right: 15px;

			ul {
				maring: 0;
				padding: 0;

				li {
					display: inline-block;
					margin-left: 6px;

					a {
						display: block;
						text-indent: -10000px;
					}

					.facebook {
						.sprite-2x(@facebook-xs-2x, @facebook-xs);

						&:focus,
						&:hover,
						&:active {
							.sprite-2x(@facebook-xs-solid-2x, @facebook-xs-solid);
						}
					}

					.twitter {
						.sprite-2x(@twitter-xs-2x, @twitter-xs);

						&:focus,
						&:hover,
						&:active {
							.sprite-2x(@twitter-xs-solid-2x, @twitter-xs-solid);
						}
					}

					.instagram {
						.sprite-2x(@instagram-xs-2x, @instagram-xs);

						&:focus,
						&:hover,
						&:active {
							.sprite-2x(@instagram-xs-solid-2x, @instagram-xs-solid);
						}
					}
				}
			}
		}
	}

	&.affix {
		.inset {
			border-bottom: 1px solid #ccc;
			.box-shadow(0, 2px, 4px, 0.3);
		}

		.container {
			.icon-logo {
				display: inline-block;
			}
		}
	}
}

@media (min-width: @screen-sm-min) {
}

@media (min-width: @screen-md-min) {
	header {
		.container {

			.icon-logo {
				.sprite-2x(@logo-2x, @logo);
			}

			.primary-nav {
				position: relative;
				top: auto;
				right: auto;
				float: right;
				margin: -73px 0 0 0;

				ul {
					.menu {
						display: none;
					}

					ul {
						display: block;
						position: relative;

						border: none;
						margin: 0;
						padding: 0;

						li {
							display: inline-block;
							margin-right: 10px;
							border: none;
							padding: 0;
							margin: 0 0 0 21px;
						}
					}
				}
			}

			.social-nav {
				right: 27px;

				ul {
					li {
						margin-left: 12px;

						.facebook {
							.sprite-2x(@facebook-medium-2x, @facebook-medium);

							&:focus,
							&:hover,
							&:active {
								.sprite-2x(@facebook-medium-solid-2x, @facebook-medium-solid);
							}
						}

						.twitter {
							.sprite-2x(@twitter-medium-2x, @twitter-medium);

							&:focus,
							&:hover,
							&:active {
								.sprite-2x(@twitter-medium-solid-2x, @twitter-medium-solid);
							}
						}

						.instagram {
							.sprite-2x(@instagram-medium-2x, @instagram-medium);

							&:focus,
							&:hover,
							&:active {
								.sprite-2x(@instagram-medium-solid-2x, @instagram-medium-solid);
							}
						}
					}
				}
			}
		}

		&.affix {
			height: 75px;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;

			.inset {
				height: 65px;
			}

			.container {
				height: 21px;
				padding: 0;
				.vertical-align();

				.icon-logo {
					display: inline-block;
					.sprite-2x(@collapsed-logo-2x, @collapsed-logo);
				}

				.primary-nav {
					position: absolute;
					right: 200px;
					top: 0;
					margin: 0;

					ul li {
						&:focus  ul,
						&:hover  ul,
						&:active  ul {
							display: block;
						}
					}

					.menu {
						display: block;
						line-height: 1;
						cursor: pointer;
						padding-bottom: 8px;
					}

					ul ul {
						display: none;
						position: absolute;
						right: 0px;
						margin: 0;

						background-color: white;
						border-top: 1px solid #ccc;

						li {
							padding: 8px;
							margin: 0;
							display: block;
							float: none;
							border-bottom: 1px solid #ccc;
							text-align: right;

							a {
								line-height: 1.2;
							}
						}
					}
				}

				.social-nav {
					top: -11px;
				}
			}
		}
	}
}

@media (min-width: @screen-lg-min) {

}

.lt-ie9 {
	header {
		.container {
			.icon-logo {
				.sprite-2x(@logo-2x, @logo);
			}
		}
	}
}
