/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@10x-2x-x: 0px;
@10x-2x-y: 3084px;
@10x-2x-offset-x: 0px;
@10x-2x-offset-y: -3084px;
@10x-2x-width: 622px;
@10x-2x-height: 270px;
@10x-2x-total-width: 972px;
@10x-2x-total-height: 5114px;
@10x-2x-image: '../images/sprite-2x.png';
@10x-2x: 0px 3084px 0px -3084px 622px 270px 972px 5114px '../images/sprite-2x.png';
@80-percent-2x-x: 0px;
@80-percent-2x-y: 2810px;
@80-percent-2x-offset-x: 0px;
@80-percent-2x-offset-y: -2810px;
@80-percent-2x-width: 650px;
@80-percent-2x-height: 270px;
@80-percent-2x-total-width: 972px;
@80-percent-2x-total-height: 5114px;
@80-percent-2x-image: '../images/sprite-2x.png';
@80-percent-2x: 0px 2810px 0px -2810px 650px 270px 972px 5114px '../images/sprite-2x.png';
@arrow-down-brand-color-2x-x: 0px;
@arrow-down-brand-color-2x-y: 0px;
@arrow-down-brand-color-2x-offset-x: 0px;
@arrow-down-brand-color-2x-offset-y: 0px;
@arrow-down-brand-color-2x-width: 32px;
@arrow-down-brand-color-2x-height: 22px;
@arrow-down-brand-color-2x-total-width: 972px;
@arrow-down-brand-color-2x-total-height: 5114px;
@arrow-down-brand-color-2x-image: '../images/sprite-2x.png';
@arrow-down-brand-color-2x: 0px 0px 0px 0px 32px 22px 972px 5114px '../images/sprite-2x.png';
@arrow-right-2x-x: 0px;
@arrow-right-2x-y: 62px;
@arrow-right-2x-offset-x: 0px;
@arrow-right-2x-offset-y: -62px;
@arrow-right-2x-width: 28px;
@arrow-right-2x-height: 40px;
@arrow-right-2x-total-width: 972px;
@arrow-right-2x-total-height: 5114px;
@arrow-right-2x-image: '../images/sprite-2x.png';
@arrow-right-2x: 0px 62px 0px -62px 28px 40px 972px 5114px '../images/sprite-2x.png';
@arrow-right-brand-color-2x-x: 0px;
@arrow-right-brand-color-2x-y: 26px;
@arrow-right-brand-color-2x-offset-x: 0px;
@arrow-right-brand-color-2x-offset-y: -26px;
@arrow-right-brand-color-2x-width: 22px;
@arrow-right-brand-color-2x-height: 32px;
@arrow-right-brand-color-2x-total-width: 972px;
@arrow-right-brand-color-2x-total-height: 5114px;
@arrow-right-brand-color-2x-image: '../images/sprite-2x.png';
@arrow-right-brand-color-2x: 0px 26px 0px -26px 22px 32px 972px 5114px '../images/sprite-2x.png';
@arrows-2x-x: 0px;
@arrows-2x-y: 3358px;
@arrows-2x-offset-x: 0px;
@arrows-2x-offset-y: -3358px;
@arrows-2x-width: 428px;
@arrows-2x-height: 341px;
@arrows-2x-total-width: 972px;
@arrows-2x-total-height: 5114px;
@arrows-2x-image: '../images/sprite-2x.png';
@arrows-2x: 0px 3358px 0px -3358px 428px 341px 972px 5114px '../images/sprite-2x.png';
@at-symbol-large-2x-x: 0px;
@at-symbol-large-2x-y: 2398px;
@at-symbol-large-2x-offset-x: 0px;
@at-symbol-large-2x-offset-y: -2398px;
@at-symbol-large-2x-width: 158px;
@at-symbol-large-2x-height: 158px;
@at-symbol-large-2x-total-width: 972px;
@at-symbol-large-2x-total-height: 5114px;
@at-symbol-large-2x-image: '../images/sprite-2x.png';
@at-symbol-large-2x: 0px 2398px 0px -2398px 158px 158px 972px 5114px '../images/sprite-2x.png';
@celgene-logo-2x-x: 0px;
@celgene-logo-2x-y: 2560px;
@celgene-logo-2x-offset-x: 0px;
@celgene-logo-2x-offset-y: -2560px;
@celgene-logo-2x-width: 394px;
@celgene-logo-2x-height: 246px;
@celgene-logo-2x-total-width: 972px;
@celgene-logo-2x-total-height: 5114px;
@celgene-logo-2x-image: '../images/sprite-2x.png';
@celgene-logo-2x: 0px 2560px 0px -2560px 394px 246px 972px 5114px '../images/sprite-2x.png';
@circle-2x-x: 0px;
@circle-2x-y: 4060px;
@circle-2x-offset-x: 0px;
@circle-2x-offset-y: -4060px;
@circle-2x-width: 416px;
@circle-2x-height: 416px;
@circle-2x-total-width: 972px;
@circle-2x-total-height: 5114px;
@circle-2x-image: '../images/sprite-2x.png';
@circle-2x: 0px 4060px 0px -4060px 416px 416px 972px 5114px '../images/sprite-2x.png';
@collapsed-logo-2x-x: 0px;
@collapsed-logo-2x-y: 106px;
@collapsed-logo-2x-offset-x: 0px;
@collapsed-logo-2x-offset-y: -106px;
@collapsed-logo-2x-width: 972px;
@collapsed-logo-2x-height: 42px;
@collapsed-logo-2x-total-width: 972px;
@collapsed-logo-2x-total-height: 5114px;
@collapsed-logo-2x-image: '../images/sprite-2x.png';
@collapsed-logo-2x: 0px 106px 0px -106px 972px 42px 972px 5114px '../images/sprite-2x.png';
@diagram-2x-x: 0px;
@diagram-2x-y: 4480px;
@diagram-2x-offset-x: 0px;
@diagram-2x-offset-y: -4480px;
@diagram-2x-width: 428px;
@diagram-2x-height: 634px;
@diagram-2x-total-width: 972px;
@diagram-2x-total-height: 5114px;
@diagram-2x-image: '../images/sprite-2x.png';
@diagram-2x: 0px 4480px 0px -4480px 428px 634px 972px 5114px '../images/sprite-2x.png';
@facebook-large-2x-x: 0px;
@facebook-large-2x-y: 1912px;
@facebook-large-2x-offset-x: 0px;
@facebook-large-2x-offset-y: -1912px;
@facebook-large-2x-width: 158px;
@facebook-large-2x-height: 158px;
@facebook-large-2x-total-width: 972px;
@facebook-large-2x-total-height: 5114px;
@facebook-large-2x-image: '../images/sprite-2x.png';
@facebook-large-2x: 0px 1912px 0px -1912px 158px 158px 972px 5114px '../images/sprite-2x.png';
@facebook-medium-2x-x: 0px;
@facebook-medium-2x-y: 1016px;
@facebook-medium-2x-offset-x: 0px;
@facebook-medium-2x-offset-y: -1016px;
@facebook-medium-2x-width: 80px;
@facebook-medium-2x-height: 80px;
@facebook-medium-2x-total-width: 972px;
@facebook-medium-2x-total-height: 5114px;
@facebook-medium-2x-image: '../images/sprite-2x.png';
@facebook-medium-2x: 0px 1016px 0px -1016px 80px 80px 972px 5114px '../images/sprite-2x.png';
@facebook-medium-solid-2x-x: 0px;
@facebook-medium-solid-2x-y: 1100px;
@facebook-medium-solid-2x-offset-x: 0px;
@facebook-medium-solid-2x-offset-y: -1100px;
@facebook-medium-solid-2x-width: 80px;
@facebook-medium-solid-2x-height: 80px;
@facebook-medium-solid-2x-total-width: 972px;
@facebook-medium-solid-2x-total-height: 5114px;
@facebook-medium-solid-2x-image: '../images/sprite-2x.png';
@facebook-medium-solid-2x: 0px 1100px 0px -1100px 80px 80px 972px 5114px '../images/sprite-2x.png';
@facebook-small-2x-x: 0px;
@facebook-small-2x-y: 862px;
@facebook-small-2x-offset-x: 0px;
@facebook-small-2x-offset-y: -862px;
@facebook-small-2x-width: 66px;
@facebook-small-2x-height: 66px;
@facebook-small-2x-total-width: 972px;
@facebook-small-2x-total-height: 5114px;
@facebook-small-2x-image: '../images/sprite-2x.png';
@facebook-small-2x: 0px 862px 0px -862px 66px 66px 972px 5114px '../images/sprite-2x.png';
@facebook-small-solid-2x-x: 0px;
@facebook-small-solid-2x-y: 512px;
@facebook-small-solid-2x-offset-x: 0px;
@facebook-small-solid-2x-offset-y: -512px;
@facebook-small-solid-2x-width: 66px;
@facebook-small-solid-2x-height: 66px;
@facebook-small-solid-2x-total-width: 972px;
@facebook-small-solid-2x-total-height: 5114px;
@facebook-small-solid-2x-image: '../images/sprite-2x.png';
@facebook-small-solid-2x: 0px 512px 0px -512px 66px 66px 972px 5114px '../images/sprite-2x.png';
@facebook-xs-2x-x: 0px;
@facebook-xs-2x-y: 152px;
@facebook-xs-2x-offset-x: 0px;
@facebook-xs-2x-offset-y: -152px;
@facebook-xs-2x-width: 56px;
@facebook-xs-2x-height: 56px;
@facebook-xs-2x-total-width: 972px;
@facebook-xs-2x-total-height: 5114px;
@facebook-xs-2x-image: '../images/sprite-2x.png';
@facebook-xs-2x: 0px 152px 0px -152px 56px 56px 972px 5114px '../images/sprite-2x.png';
@facebook-xs-solid-2x-x: 0px;
@facebook-xs-solid-2x-y: 332px;
@facebook-xs-solid-2x-offset-x: 0px;
@facebook-xs-solid-2x-offset-y: -332px;
@facebook-xs-solid-2x-width: 56px;
@facebook-xs-solid-2x-height: 56px;
@facebook-xs-solid-2x-total-width: 972px;
@facebook-xs-solid-2x-total-height: 5114px;
@facebook-xs-solid-2x-image: '../images/sprite-2x.png';
@facebook-xs-solid-2x: 0px 332px 0px -332px 56px 56px 972px 5114px '../images/sprite-2x.png';
@instagram-medium-2x-x: 0px;
@instagram-medium-2x-y: 1184px;
@instagram-medium-2x-offset-x: 0px;
@instagram-medium-2x-offset-y: -1184px;
@instagram-medium-2x-width: 80px;
@instagram-medium-2x-height: 80px;
@instagram-medium-2x-total-width: 972px;
@instagram-medium-2x-total-height: 5114px;
@instagram-medium-2x-image: '../images/sprite-2x.png';
@instagram-medium-2x: 0px 1184px 0px -1184px 80px 80px 972px 5114px '../images/sprite-2x.png';
@instagram-medium-solid-2x-x: 0px;
@instagram-medium-solid-2x-y: 932px;
@instagram-medium-solid-2x-offset-x: 0px;
@instagram-medium-solid-2x-offset-y: -932px;
@instagram-medium-solid-2x-width: 80px;
@instagram-medium-solid-2x-height: 80px;
@instagram-medium-solid-2x-total-width: 972px;
@instagram-medium-solid-2x-total-height: 5114px;
@instagram-medium-solid-2x-image: '../images/sprite-2x.png';
@instagram-medium-solid-2x: 0px 932px 0px -932px 80px 80px 972px 5114px '../images/sprite-2x.png';
@instagram-small-2x-x: 0px;
@instagram-small-2x-y: 652px;
@instagram-small-2x-offset-x: 0px;
@instagram-small-2x-offset-y: -652px;
@instagram-small-2x-width: 66px;
@instagram-small-2x-height: 66px;
@instagram-small-2x-total-width: 972px;
@instagram-small-2x-total-height: 5114px;
@instagram-small-2x-image: '../images/sprite-2x.png';
@instagram-small-2x: 0px 652px 0px -652px 66px 66px 972px 5114px '../images/sprite-2x.png';
@instagram-small-solid-2x-x: 0px;
@instagram-small-solid-2x-y: 722px;
@instagram-small-solid-2x-offset-x: 0px;
@instagram-small-solid-2x-offset-y: -722px;
@instagram-small-solid-2x-width: 66px;
@instagram-small-solid-2x-height: 66px;
@instagram-small-solid-2x-total-width: 972px;
@instagram-small-solid-2x-total-height: 5114px;
@instagram-small-solid-2x-image: '../images/sprite-2x.png';
@instagram-small-solid-2x: 0px 722px 0px -722px 66px 66px 972px 5114px '../images/sprite-2x.png';
@instagram-xs-2x-x: 0px;
@instagram-xs-2x-y: 212px;
@instagram-xs-2x-offset-x: 0px;
@instagram-xs-2x-offset-y: -212px;
@instagram-xs-2x-width: 56px;
@instagram-xs-2x-height: 56px;
@instagram-xs-2x-total-width: 972px;
@instagram-xs-2x-total-height: 5114px;
@instagram-xs-2x-image: '../images/sprite-2x.png';
@instagram-xs-2x: 0px 212px 0px -212px 56px 56px 972px 5114px '../images/sprite-2x.png';
@instagram-xs-solid-2x-x: 0px;
@instagram-xs-solid-2x-y: 272px;
@instagram-xs-solid-2x-offset-x: 0px;
@instagram-xs-solid-2x-offset-y: -272px;
@instagram-xs-solid-2x-width: 56px;
@instagram-xs-solid-2x-height: 56px;
@instagram-xs-solid-2x-total-width: 972px;
@instagram-xs-solid-2x-total-height: 5114px;
@instagram-xs-solid-2x-image: '../images/sprite-2x.png';
@instagram-xs-solid-2x: 0px 272px 0px -272px 56px 56px 972px 5114px '../images/sprite-2x.png';
@logo-2x-x: 0px;
@logo-2x-y: 3703px;
@logo-2x-offset-x: 0px;
@logo-2x-offset-y: -3703px;
@logo-2x-width: 498px;
@logo-2x-height: 353px;
@logo-2x-total-width: 972px;
@logo-2x-total-height: 5114px;
@logo-2x-image: '../images/sprite-2x.png';
@logo-2x: 0px 3703px 0px -3703px 498px 353px 972px 5114px '../images/sprite-2x.png';
@map-icon-2x-x: 0px;
@map-icon-2x-y: 1436px;
@map-icon-2x-offset-x: 0px;
@map-icon-2x-offset-y: -1436px;
@map-icon-2x-width: 64px;
@map-icon-2x-height: 100px;
@map-icon-2x-total-width: 972px;
@map-icon-2x-total-height: 5114px;
@map-icon-2x-image: '../images/sprite-2x.png';
@map-icon-2x: 0px 1436px 0px -1436px 64px 100px 972px 5114px '../images/sprite-2x.png';
@mobile-logo-2x-x: 0px;
@mobile-logo-2x-y: 1644px;
@mobile-logo-2x-offset-x: 0px;
@mobile-logo-2x-offset-y: -1644px;
@mobile-logo-2x-width: 232px;
@mobile-logo-2x-height: 116px;
@mobile-logo-2x-total-width: 972px;
@mobile-logo-2x-total-height: 5114px;
@mobile-logo-2x-image: '../images/sprite-2x.png';
@mobile-logo-2x: 0px 1644px 0px -1644px 232px 116px 972px 5114px '../images/sprite-2x.png';
@play-large-2x-x: 0px;
@play-large-2x-y: 2074px;
@play-large-2x-offset-x: 0px;
@play-large-2x-offset-y: -2074px;
@play-large-2x-width: 158px;
@play-large-2x-height: 158px;
@play-large-2x-total-width: 972px;
@play-large-2x-total-height: 5114px;
@play-large-2x-image: '../images/sprite-2x.png';
@play-large-2x: 0px 2074px 0px -2074px 158px 158px 972px 5114px '../images/sprite-2x.png';
@take-action-2x-x: 0px;
@take-action-2x-y: 1540px;
@take-action-2x-offset-x: 0px;
@take-action-2x-offset-y: -1540px;
@take-action-2x-width: 532px;
@take-action-2x-height: 100px;
@take-action-2x-total-width: 972px;
@take-action-2x-total-height: 5114px;
@take-action-2x-image: '../images/sprite-2x.png';
@take-action-2x: 0px 1540px 0px -1540px 532px 100px 972px 5114px '../images/sprite-2x.png';
@twitter-large-2x-x: 0px;
@twitter-large-2x-y: 1764px;
@twitter-large-2x-offset-x: 0px;
@twitter-large-2x-offset-y: -1764px;
@twitter-large-2x-width: 172px;
@twitter-large-2x-height: 144px;
@twitter-large-2x-total-width: 972px;
@twitter-large-2x-total-height: 5114px;
@twitter-large-2x-image: '../images/sprite-2x.png';
@twitter-large-2x: 0px 1764px 0px -1764px 172px 144px 972px 5114px '../images/sprite-2x.png';
@twitter-medium-2x-x: 0px;
@twitter-medium-2x-y: 1352px;
@twitter-medium-2x-offset-x: 0px;
@twitter-medium-2x-offset-y: -1352px;
@twitter-medium-2x-width: 80px;
@twitter-medium-2x-height: 80px;
@twitter-medium-2x-total-width: 972px;
@twitter-medium-2x-total-height: 5114px;
@twitter-medium-2x-image: '../images/sprite-2x.png';
@twitter-medium-2x: 0px 1352px 0px -1352px 80px 80px 972px 5114px '../images/sprite-2x.png';
@twitter-medium-solid-2x-x: 0px;
@twitter-medium-solid-2x-y: 1268px;
@twitter-medium-solid-2x-offset-x: 0px;
@twitter-medium-solid-2x-offset-y: -1268px;
@twitter-medium-solid-2x-width: 80px;
@twitter-medium-solid-2x-height: 80px;
@twitter-medium-solid-2x-total-width: 972px;
@twitter-medium-solid-2x-total-height: 5114px;
@twitter-medium-solid-2x-image: '../images/sprite-2x.png';
@twitter-medium-solid-2x: 0px 1268px 0px -1268px 80px 80px 972px 5114px '../images/sprite-2x.png';
@twitter-small-2x-x: 0px;
@twitter-small-2x-y: 582px;
@twitter-small-2x-offset-x: 0px;
@twitter-small-2x-offset-y: -582px;
@twitter-small-2x-width: 66px;
@twitter-small-2x-height: 66px;
@twitter-small-2x-total-width: 972px;
@twitter-small-2x-total-height: 5114px;
@twitter-small-2x-image: '../images/sprite-2x.png';
@twitter-small-2x: 0px 582px 0px -582px 66px 66px 972px 5114px '../images/sprite-2x.png';
@twitter-small-solid-2x-x: 0px;
@twitter-small-solid-2x-y: 792px;
@twitter-small-solid-2x-offset-x: 0px;
@twitter-small-solid-2x-offset-y: -792px;
@twitter-small-solid-2x-width: 66px;
@twitter-small-solid-2x-height: 66px;
@twitter-small-solid-2x-total-width: 972px;
@twitter-small-solid-2x-total-height: 5114px;
@twitter-small-solid-2x-image: '../images/sprite-2x.png';
@twitter-small-solid-2x: 0px 792px 0px -792px 66px 66px 972px 5114px '../images/sprite-2x.png';
@twitter-xs-2x-x: 0px;
@twitter-xs-2x-y: 452px;
@twitter-xs-2x-offset-x: 0px;
@twitter-xs-2x-offset-y: -452px;
@twitter-xs-2x-width: 56px;
@twitter-xs-2x-height: 56px;
@twitter-xs-2x-total-width: 972px;
@twitter-xs-2x-total-height: 5114px;
@twitter-xs-2x-image: '../images/sprite-2x.png';
@twitter-xs-2x: 0px 452px 0px -452px 56px 56px 972px 5114px '../images/sprite-2x.png';
@twitter-xs-solid-2x-x: 0px;
@twitter-xs-solid-2x-y: 392px;
@twitter-xs-solid-2x-offset-x: 0px;
@twitter-xs-solid-2x-offset-y: -392px;
@twitter-xs-solid-2x-width: 56px;
@twitter-xs-solid-2x-height: 56px;
@twitter-xs-solid-2x-total-width: 972px;
@twitter-xs-solid-2x-total-height: 5114px;
@twitter-xs-solid-2x-image: '../images/sprite-2x.png';
@twitter-xs-solid-2x: 0px 392px 0px -392px 56px 56px 972px 5114px '../images/sprite-2x.png';
@user-large-2x-x: 0px;
@user-large-2x-y: 2236px;
@user-large-2x-offset-x: 0px;
@user-large-2x-offset-y: -2236px;
@user-large-2x-width: 158px;
@user-large-2x-height: 158px;
@user-large-2x-total-width: 972px;
@user-large-2x-total-height: 5114px;
@user-large-2x-image: '../images/sprite-2x.png';
@user-large-2x: 0px 2236px 0px -2236px 158px 158px 972px 5114px '../images/sprite-2x.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
